@import "tailwindcss";

:root {
  --background: #ffffff;
  --surface: #f8fafc;
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --border: #e2e8f0;
  --success: #16a34a;
  --error: #dc2626;
}

[data-theme="dark"] {
  --background: #090d16;
  --surface: #1e293b;
  --primary: #3b82f6;
  --primary-hover: #60a5fa;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  --border: #334155;
  --success: #22c55e;
  --error: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-border: var(--border);
  --color-success: var(--success);
  --color-error: var(--error);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-space-grotesk);
}

* {
  border-color: var(--border);
}
